@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-track {
    background: #dbdded;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

li{

    color:#798795;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;

}